In [2]:
import pandas as pd
transactions = pd.read_csv("data/transactions_train.csv")
print(transactions.head(5))

        t_dat                                        customer_id  article_id  \
0  2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   663713001
1  2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   541518023
2  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   505221004
3  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687003
4  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687004

      price  sales_channel_id
0  0.050831                 2
1  0.030492                 2
2  0.015237                 2
3  0.016932                 2
4  0.016932                 2

In [7]:
customers_buy_records = transactions['customer_id'].value_counts()
print(customers_buy_records)

be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee985513d9e8e53c6d91b    1895
b4db5e5259234574edfff958e170fe3a5e13b6f146752ca066abca3c156acc71    1441
49beaacac0c7801c2ce2d189efe525fe80b5d37e46ed05b50a4cd88e34d0748f    1364
a65f77281a528bf5c1e9f270141d601d116e1df33bf9df512f495ee06647a9cc    1361
cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed6012e7e5bea016b4d6    1237
                                                                    ...
63b70b71291668f0a63ade8e321fb3eccb80eba164f2087dad471de065f18e1f       1
950b172c36d169bf427545991fe66371f21a085799b44780fdcb2da6a3091613       1
7c284f13f4af9d6a53f97279381638ed0cb7afaa4fd4f3eaadc21993ea45fc69       1
62d49d0ae11a4f65fa31e354cb87f6b557ebec648e0e5e71435d2dd190d1ccc4       1
268eaa31a07d6f2f4f060bfcf32a660f3ea3dbb21ef14cd09fc2545f4e0b5c10       1
Name: customer_id, Length: 1362281, dtype: int64

In [8]:
customers_buy_records = customers_buy_records.reset_index()
customers_buy_records = customers_buy_records.rename(columns = {"index": "customer_id", "customer_id": "shop_times"})
print(customers_buy_records)

                                               customer_id  shop_times
0        be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...        1895
1        b4db5e5259234574edfff958e170fe3a5e13b6f146752c...        1441
2        49beaacac0c7801c2ce2d189efe525fe80b5d37e46ed05...        1364
3        a65f77281a528bf5c1e9f270141d601d116e1df33bf9df...        1361
4        cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed...        1237
...                                                    ...         ...
1362276  63b70b71291668f0a63ade8e321fb3eccb80eba164f208...           1
1362277  950b172c36d169bf427545991fe66371f21a085799b447...           1
1362278  7c284f13f4af9d6a53f97279381638ed0cb7afaa4fd4f3...           1
1362279  62d49d0ae11a4f65fa31e354cb87f6b557ebec648e0e5e...           1
1362280  268eaa31a07d6f2f4f060bfcf32a660f3ea3dbb21ef14c...           1

[1362281 rows x 2 columns]

In [15]:
# cut down the dataset so that it can be trained in a reasonable amount of time
customers_buy_records.loc[customers_buy_records['shop_times'] >= 100]

                                             customer_id  shop_times
0      be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...        1895
1      b4db5e5259234574edfff958e170fe3a5e13b6f146752c...        1441
2      49beaacac0c7801c2ce2d189efe525fe80b5d37e46ed05...        1364
3      a65f77281a528bf5c1e9f270141d601d116e1df33bf9df...        1361
4      cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed...        1237
...                                                  ...         ...
57261  975fb9d8200037c7658bcebe503dfbd85590114fd2138f...         100
57262  01db86c117b7ffc359a257daf911acefefe30888a3d72b...         100
57263  3ce4c576da85bacb17d216cefd6efd1697836972d99e52...         100
57264  6d9f31f4a0302e6b2a26c2695222a41f5bd4bbe11ca53b...         100
57265  fbe459c11e003d4e4a7ec21c298b2cece442d17797c22b...         100

[57266 rows x 2 columns]